# Importing/Loading the required Package

In [93]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statistics
from statistics import mode
import graphviz 
#from sklearn.tree import export_graphviz
#from sklearn import tree
import seaborn as sns
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore
import sklearn.metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

Importing Dataset

In [94]:
train1= pd.read_csv('C:\\Users\Muskaan\Desktop\Muskaan\Great Lakes\Clustering- Supervised Learning\Citi Bank- Kaggle Competition\Data\\train1.csv')
train2= pd.read_csv('C:\\Users\Muskaan\Desktop\Muskaan\Great Lakes\Clustering- Supervised Learning\Citi Bank- Kaggle Competition\Data\\train2.csv')
train3= pd.read_csv('C:\\Users\Muskaan\Desktop\Muskaan\Great Lakes\Clustering- Supervised Learning\Citi Bank- Kaggle Competition\Data\\train3.csv')

In [95]:
print(train1.head(2))
print(train2.head(2))
print(train3.head(2))

   Ref.No      X1  X2  X3  X4  X5  X6  X7  Y
0   22203  320000   2   1   2  27   1   2  1
1    1288  470000   1   2   1  41  -2  -2  0
   Ref.No  X8  X9  X10  X11    X12    X13    X14    X15
0   22203   2   2    2    2  43243  42537  41370  40694
1    1288  -2  -2   -2   -1  13780  12242  32463  20621
   Ref.No    X16    X17    X18    X19   X20   X21   X22    X23
0   22203  39606  38680   2000   1500  2000  1500  1500      0
1    1288  13711   8294  12300  32520    34    68  8334  45684

Combining/Merging the 3 data sets

In [96]:
train12=pd.merge(train1,train2,how='inner',on='Ref.No')

In [97]:
train12.head(2)

,Ref.No,X1,X2,X3,X4,X5,X6,X7,Y,X8,X9,X10,X11,X12,X13,X14,X15
0,22203,320000,2,1,2,27,1,2,1,2,2,2,2,43243,42537,41370,40694
1,1288,470000,1,2,1,41,-2,-2,0,-2,-2,-2,-1,13780,12242,32463,20621

In [98]:
train_complete=pd.merge(train12,train3,how='inner',on='Ref.No')

In [99]:
train_complete.head()

,Ref.No,X1,X2,X3,X4,X5,X6,X7,Y,X8,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,22203,320000,2,1,2,27,1,2,1,2,...,41370,40694,39606,38680,2000,1500,2000,1500,1500,0
1,1288,470000,1,2,1,41,-2,-2,0,-2,...,32463,20621,13711,8294,12300,32520,34,68,8334,45684
2,11822,20000,1,2,2,25,1,2,0,0,...,18921,19297,18926,17717,1264,1249,625,700,1000,1000
3,15085,80000,1,3,1,41,0,0,1,0,...,60311,62471,21071,2099,3008,3000,5000,10000,2099,0
4,6192,30000,1,1,2,30,1,-2,1,-2,...,0,0,0,0,0,0,0,0,0,0

In [100]:
#train_complete = train_complete.rename(columns={'Ref.No': 'Ref.No', 'X1': 'Credit_Amt','X2':'Gender','X3':'Education','X4':'Marital_Status','X5':'Age','X6':'Repayment_Status_Sep05','X7':'Repayment_Status_Aug05','Y':'Default_NonDefault','X8':'Repayment_Status_Jul05','X9':'Repayment_Status_Jun05','X10':'Repayment_Status_May05','X11':'Repayment_Status_Apr05','X12','Amt_BillStmt_Sep05','X13':'Amt_BillStmt_Aug05','X14':'Amt_BillStmt_Jul05','X15':'Amt_BillStmt_Jun05','X16':'Amt_BillStmt_May05','X17':'Amt_BillStmt_Apr05','X18':'Amt_Paid_Sep05','X19':'Amt_Paid_Aug05','X20':'Amt_Paid_Jul05','X21':'Amt_Paid_Jun05','X22':'Amt_Paid_May05','X23':'Amt_Paid_Apr05'})

In [101]:
train_complete.shape

(21600, 25)

In [102]:
#Since Ref.No is not required we drop it
train123=train_complete.drop('Ref.No',axis=1)

In [103]:
train123.head()

,X1,X2,X3,X4,X5,X6,X7,Y,X8,X9,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,320000,2,1,2,27,1,2,1,2,2,...,41370,40694,39606,38680,2000,1500,2000,1500,1500,0
1,470000,1,2,1,41,-2,-2,0,-2,-2,...,32463,20621,13711,8294,12300,32520,34,68,8334,45684
2,20000,1,2,2,25,1,2,0,0,0,...,18921,19297,18926,17717,1264,1249,625,700,1000,1000
3,80000,1,3,1,41,0,0,1,0,0,...,60311,62471,21071,2099,3008,3000,5000,10000,2099,0
4,30000,1,1,2,30,1,-2,1,-2,-2,...,0,0,0,0,0,0,0,0,0,0

In [104]:
train123.shape

(21600, 24)

In [105]:
#Check imbalance
train123.Y.value_counts(normalize=True)

0    0.776204
1    0.223796
Name: Y, dtype: float64

In [132]:
train123.describe().T

,count,mean,std,min,25%,50%,75%,max
X1,21600.0,165235.818519,129013.755215,10000.0,50000.00,140000.0,230000.00,1000000.0
X2,21600.0,1.626991,0.483616,1.0,1.00,2.0,2.00,2.0
X3,21600.0,1.845926,0.781139,0.0,1.00,2.0,2.00,6.0
X4,21600.0,1.558704,0.522008,0.0,1.00,2.0,2.00,3.0
X5,21600.0,35.382361,9.266769,21.0,28.00,34.0,41.00,79.0
X6,21600.0,-0.002917,1.126164,-2.0,-1.00,0.0,0.00,8.0
X7,21600.0,-0.124028,1.201892,-2.0,-1.00,0.0,0.00,8.0
Y,21600.0,0.223796,0.416797,0.0,0.00,0.0,0.00,1.0
X8,21600.0,-0.157176,1.203906,-2.0,-1.00,0.0,0.00,8.0
X9,21600.0,-0.214213,1.165579,-2.0,-1.00,0.0,0.00,8.0
X10,21600.0,-0.254028,1.137746,-2.0,-1.00,0.0,0.00,8.0
X11,21600.0,-0.280139,1.157968,-2.0,-1.00,0.0,0.00,8.0
X12,21600.0,50382.807546,72570.827360,-165580.0,3633.75,22182.0,65073.25,964511.0
X13,21600.0,48332.562407,70167.264656,-69777.0,3102.00,21095.5,61886.75,983931.0
X14,21600.0,46078.883009,68120.766812,-157264.0,2778.00,19978.0,58792.75,1664089.0
X15,21600.0,42103.725417,62928.222402,-170000.0,2311.50,18893.0,51549.00,891586.0
X16,21600.0,39752.848102,60260.533664,-81334.0,1690.75,18019.0,49464.00,927171.0
X17,21600.0,38252.447222,58985.695010,-339603.0,1195.00,16845.0,48470.00,961664.0
X18,21600.0,5496.287315,14951.048697,0.0,1000.00,2100.0,5000.00,505000.0
X19,21600.0,5746.915231,20773.786348,0.0,827.00,2000.0,5000.00,1684259.0
X20,21600.0,4967.528102,16357.097609,0.0,370.75,1700.0,4304.25,896040.0
X21,21600.0,4761.756481,15235.379036,0.0,277.00,1500.0,4000.00,497000.0
X22,21600.0,4770.286204,15356.016783,0.0,222.00,1500.0,4000.00,417990.0
X23,21600.0,5186.881111,17524.771547,0.0,58.75,1498.5,4000.00,528666.0

# Data Preparation( Splitting the Dependent/Target Variable and the Independent Variables )

In [106]:
x= train123.drop('Y',axis=1)
y= train123['Y']

In [107]:
x.shape

(21600, 23)

In [108]:
from sklearn.cross_validation import train_test_split
test_size = 0.30 # taking 70:30 training and test set
seed = 0  # Random numbmer seeding for reapeatability of the code
x_train, x_validate, y_train, y_validate = train_test_split(x, y, test_size=test_size, random_state=seed)

In [109]:
from sklearn.preprocessing import StandardScaler
independent_scalar = StandardScaler()
x_train = independent_scalar.fit_transform (x_train) #fit and transform
x_validate = independent_scalar.transform (x_validate) # only transform

# Random Forest

Modelling

In [118]:
RFclassifier = RandomForestClassifier(n_estimators = 100, random_state = 0,min_samples_split=5,criterion='gini',max_depth=5)
RFclassifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

Accuracy

In [119]:
predictValues_validate = RFclassifier.predict(x_validate)
#print(predictValues_validate)
accuracy_validate=accuracy_score(y_validate, predictValues_validate)



predictValues_train = RFclassifier.predict(x_train)
#print(predictValues_train)
accuracy_train=accuracy_score(y_train, predictValues_train)


print("Train Accuracy  :: ",accuracy_train)
print("Validation Accuracy  :: ",accuracy_validate)

Train Accuracy  ::  0.8162037037037037
Validation Accuracy  ::  0.8095679012345679

Modelling by changing the n_estimator

In [120]:
RFclassifier = RandomForestClassifier(n_estimators = 11, random_state = 0,min_samples_split=5,criterion='gini',max_depth=5)
RFclassifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=11, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [121]:
predictValues_validate = RFclassifier.predict(x_validate)
#print(predictValues_validate)
accuracy_validate=accuracy_score(y_validate, predictValues_validate)



predictValues_train = RFclassifier.predict(x_train)
#print(predictValues_train)
accuracy_train=accuracy_score(y_train, predictValues_train)


print("Train Accuracy  :: ",accuracy_train)
print("Validation Accuracy  :: ",accuracy_validate)

Train Accuracy  ::  0.8222883597883598
Validation Accuracy  ::  0.8145061728395062

# Iteration2- By Droping few variables

In [37]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
def myvif(x):
    data= x.as_matrix()
    vif = [variance_inflation_factor(data, i) for i in range(data.shape[1])]
    vif_factors=pd.DataFrame()
    vif_factors['columns']=x.columns
    vif_factors['vif']=vif
    return vif_factors

In [38]:
vif_data=x

In [39]:
x.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,320000,2,1,2,27,1,2,2,2,2,...,41370,40694,39606,38680,2000,1500,2000,1500,1500,0
1,470000,1,2,1,41,-2,-2,-2,-2,-2,...,32463,20621,13711,8294,12300,32520,34,68,8334,45684
2,20000,1,2,2,25,1,2,0,0,0,...,18921,19297,18926,17717,1264,1249,625,700,1000,1000
3,80000,1,3,1,41,0,0,0,0,0,...,60311,62471,21071,2099,3008,3000,5000,10000,2099,0
4,30000,1,1,2,30,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0

In [40]:
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns        vif
0       X1   4.053009
1       X2   9.401431
2       X3   6.841363
3       X4   6.333718
4       X5  10.757496
5       X6   1.901995
6       X7   3.203689
7       X8   3.763069
8       X9   4.531203
9      X10   4.890202
10     X11   3.368473
11     X12  21.269165
12     X13  39.247425
13     X14  32.146176
14     X15  30.722553
15     X16  37.367881
16     X17  20.649768
17     X18   1.792993
18     X19   2.472310
19     X20   1.702310
20     X21   1.775539
21     X22   1.844944
22     X23   1.291560

In [41]:
vif_data.drop('X13',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns        vif
0       X1   4.052819
1       X2   9.399929
2       X3   6.841346
3       X4   6.333375
4       X5  10.757144
5       X6   1.901873
6       X7   3.203671
7       X8   3.757054
8       X9   4.531201
9      X10   4.888874
10     X11   3.367764
11     X12  10.384074
12     X14  23.789423
13     X15  30.714117
14     X16  37.364947
15     X17  20.630946
16     X18   1.383853
17     X19   1.917271
18     X20   1.699578
19     X21   1.773393
20     X22   1.844002
21     X23   1.291334

In [42]:
vif_data.drop('X16',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns        vif
0       X1   4.050606
1       X2   9.399685
2       X3   6.840432
3       X4   6.333361
4       X5  10.757036
5       X6   1.900985
6       X7   3.203625
7       X8   3.757029
8       X9   4.525140
9      X10   4.884924
10     X11   3.365024
11     X12  10.378706
12     X14  23.763227
13     X15  21.992561
14     X17  11.434615
15     X18   1.383729
16     X19   1.916981
17     X20   1.687887
18     X21   1.376393
19     X22   1.509107
20     X23   1.270483

In [43]:
vif_data.drop('X14',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns        vif
0       X1   4.045347
1       X2   9.399682
2       X3   6.839679
3       X4   6.332196
4       X5  10.756853
5       X6   1.900780
6       X7   3.201697
7       X8   3.742700
8       X9   4.524155
9      X10   4.881180
10     X11   3.364781
11     X12   6.629276
12     X15  15.670548
13     X17  11.344548
14     X18   1.334550
15     X19   1.283922
16     X20   1.387014
17     X21   1.376221
18     X22   1.508597
19     X23   1.270322

In [44]:
vif_data.drop('X15',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns        vif
0       X1   4.040671
1       X2   9.393788
2       X3   6.838136
3       X4   6.331244
4       X5  10.756805
5       X6   1.900730
6       X7   3.200660
7       X8   3.742497
8       X9   4.518448
9      X10   4.864446
10     X11   3.356924
11     X12   4.766630
12     X17   5.304203
13     X18   1.295235
14     X19   1.220571
15     X20   1.254741
16     X21   1.253397
17     X22   1.329729
18     X23   1.251626

In [45]:
vif_data.drop('X5',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns       vif
0       X1  3.641893
1       X2  8.377928
2       X3  5.136131
3       X4  6.179803
4       X6  1.898127
5       X7  3.200656
6       X8  3.742360
7       X9  4.518415
8      X10  4.862732
9      X11  3.356832
10     X12  4.766571
11     X17  5.303792
12     X18  1.295028
13     X19  1.220568
14     X20  1.254683
15     X21  1.253365
16     X22  1.329632
17     X23  1.251245

In [46]:
vif_data.drop('X2',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns       vif
0       X1  3.379833
1       X3  3.929052
2       X4  4.463625
3       X6  1.897710
4       X7  3.200507
5       X8  3.742022
6       X9  4.518411
7      X10  4.860564
8      X11  3.356822
9      X12  4.760076
10     X17  5.296616
11     X18  1.294994
12     X19  1.220430
13     X20  1.254497
14     X21  1.253361
15     X22  1.329237
16     X23  1.251041

In [47]:
vif_data.drop('X17',axis=1,inplace=True)
myvif(vif_data)

C:\Users\Muskaan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   columns       vif
0       X1  3.339602
1       X3  3.928195
2       X4  4.461570
3       X6  1.896647
4       X7  3.197937
5       X8  3.741811
6       X9  4.517798
7      X10  4.856821
8      X11  3.295039
9      X12  1.978577
10     X18  1.283469
11     X19  1.212373
12     X20  1.233689
13     X21  1.223577
14     X22  1.230610
15     X23  1.216353

# Random Forest

In [67]:
RFclassifier_drop = RandomForestClassifier(n_estimators = 10, random_state = 0,min_samples_split=5,criterion='gini',max_depth=5,max_features=8)
RFclassifier_drop.fit(x_train_drop, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features=8, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [68]:
predictValues_train = RFclassifier_drop.predict(x_train_drop)
#print(predictValues_train)
accuracy_train=accuracy_score(y_train, predictValues_train)

predictValues_validate = RFclassifier_drop.predict(x_validate_drop)
#print(predictValues_validate)
accuracy_validate=accuracy_score(y_validate, predictValues_validate)

print("Train Accuracy  :: ",accuracy_train)
print("Validation Accuracy  :: ",accuracy_validate)

Train Accuracy  ::  0.8246693121693122
Validation Accuracy  ::  0.8165123456790123

In [124]:
RFclassifier_7 = RandomForestClassifier(n_estimators = 7, random_state = 0,min_samples_split=5,criterion='gini',max_depth=5,max_features=8)
RFclassifier_7.fit(x_train_drop, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features=8, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=7, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [125]:
predictValues_train = RFclassifier_7.predict(x_train_drop)
#print(predictValues_train)
accuracy_train=accuracy_score(y_train, predictValues_train)

predictValues_validate = RFclassifier_7.predict(x_validate_drop)
#print(predictValues_validate)
accuracy_validate=accuracy_score(y_validate, predictValues_validate)

print("Train Accuracy  :: ",accuracy_train)
print("Validation Accuracy  :: ",accuracy_validate)

Train Accuracy  ::  0.8253306878306879
Validation Accuracy  ::  0.8151234567901234